body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header_ul{
    margin-right: 77px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
}

.header_link:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2B292D;
}

.header_link:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2B292D;
    bottom: -5px;
    left: 0;
}

.header_button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;
}

.header_button:hover{
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #4758f0;
    transition: 1s;
}

.what-is-it{
    background: #F4F5F7;
    padding: 77px 0 76px;
}

.what-is-it_block{
    max-width: 555px;
}

.what-is-it_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.what-is-it_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.logos{
    padding: 30px 0 106px;
}

.logos_img{
    max-height: 75px;
}